services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ai_analyzer
      POSTGRES_PASSWORD: ai_analyzer_pw
      POSTGRES_DB: ai_analyzer
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgresql+psycopg://ai_analyzer:ai_analyzer_pw@db:5432/ai_analyzer
      MODEL_ID: Qwen/Qwen2.5-0.5B-Instruct
      MAX_CHARS: '25000'
      CORS_ORIGINS: http://localhost:5173
    ports:
      - '8000:8000'
    depends_on:
      - db

  frontend:
    build: ./frontend
    environment:
      VITE_API_URL: http://localhost:8000
    volumes:
      - C:\Users\aidana\Documents\test-ai\frontend:/app
      - /app/node_modules
    ports:
      - '5173:5173'
    depends_on:
      - backend

volumes:
  pgdata:
